@import 'tailwindcss';

@plugin "@tailwindcss/forms";

@theme {
  --color-logo: #000000;
  --color-logo-on-color: #ffffff;

  --color-primary: #3d255a;
  --color-secondary: #7f6f92;
  --color-text-on-interactive: #ffffff;
  --color-text-disabled: #d8d3de;

  --color-surface: #eeeef6;
  --color-surface-rise: #ffffff;
  --color-surface-violet: #58508d;
  --color-surface-high-contrast-darker: #28183b;

  --color-interactive: #6327eb;
  --color-interactive-active: #6327eb0d;
  --color-interactive-hover: #3d255a;
  --color-interactive-critical: #c6211e;
  --color-interactive-critical-hover: #771412;

  --color-border: #d8d3de;
  --color-border-active: #6327eb;

  --color-state-active: #6327eb26;
  --color-state-hover: #6327eb1a;
}

:root {
  --background: var(--color-surface);
  --foreground: var(--color-primary);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-zilla-slab: var(--font-zilla-slab);
  --font-source-sans: var(--font-source-sans);
}

body {
  background: var(--background);
  color: #3d255a;
  font-family: Arial, Helvetica, sans-serif;
}

@media print {
  .print-container,
  .print-container * {
    visibility: visible;
  }

  .print-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  body,
  html,
  #__next {
    height: auto;
    overflow: visible;
  }
}
