@import "tailwindcss";

@theme {
  --color-logo: #000000;
  --color-logo-on-color: #FFFFFF;
  --text-primary: #3D255A;
  --text-secondary: #7F6F92;

  --color-surface: #EEEEF6;
  --color-surface-rise: #FFFFFF;
  --color-surface-violet: #58508D;
  --color-surface-high-contrast-darker: #28183B;

  --color-border: #D8D3DE;
}

:root {
  --background: var(--color-surface);
  --foreground: var(--color-logo);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-zilla-slab: var(--font-zilla-slab);
  --font-source-sans: var(--font-source-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}